html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    background-color: #fbfbfb;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c8e7ff' fill-opacity='1'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.titulo {
    background: linear-gradient(45deg, rgb(0, 68, 255), rgb(0, 132, 255));
    padding: 1rem 0px;
    text-align: center;
    color: aliceblue;
    letter-spacing: 3px;
    word-spacing: 10px;
}

/* MAIN */
.body-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.col1 {
    max-height: 16rem;
}

.col {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgb(181, 199, 214);
    padding: 2rem;
}

/* FORMULARIO */
form {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 1rem;
}

form h3 {
    margin: 0px;
    text-transform: uppercase;
    font-weight: 300;
    color: rgb(31, 52, 72);
}

form input[type="text"] {
    padding: 8px 0px;
    border: 1px solid rgba(165, 182, 202, 0.434);
}

form input[type="text"]:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(172, 193, 202, 0.696);
}

::placeholder {
    color: rgba(82, 90, 103, 0.427);
    font-size: 1.5em;
    padding-left: .5rem;
    font-weight: 300;
    font-size: 1.5rem;
}

form .boton {
    background: rgb(0, 128, 255);
    padding: 10px 0px;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

form .boton:hover {
    background: rgb(0, 110, 255)
}

form .boton-error {
    background: rgb(255, 0, 89);
    padding: 10px 0px;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    cursor: no-drop;
}

/* LISTA DE TWEETS */
ul {
    list-style: none;
    padding-inline-start: 0px;
}

ul .lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

ul .eliminar {
    background-color: rgb(237, 0, 95);
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    padding: 6px 10px;
    transition: background-color ease 300ms;

}

ul .eliminar:hover {
    background-color: rgb(194, 0, 74);
}

li {
    margin-bottom: 1rem;
}

li:last-of-type {
    margin-bottom: 0px;
}

li p {
    margin: 0px;
}

@media (max-width: 520px) {
    .body-grid {
        grid-template-columns: 1fr;
    }
}